@model BTS630a04.Models.Credentials

@{
    ViewBag.Title = "Create A New Credential";
}

<span class="usecase">UC 03, UC 05</span>
<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Credentials</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MajorID, "Major")
        </div>
        <div class="editor-field">
            @Html.DropDownList("MajorID", String.Empty)
            @Html.ValidationMessageFor(model => model.MajorID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Code)
            @Html.ValidationMessageFor(model => model.Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CredentialsTypeID)
        </div>
        <div class="editor-field">
            @Html.DropDownList("CredentialsTypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.CredentialsTypeID)
        </div>

        <p>
            <br /><input  type="submit" value="Create"  />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    
}
