@model BTS630a04.Models.Credentials

@{
    ViewBag.Title = "View Details On A credential";
}
<span class="usecase">UC 03, UC 05</span>
<h2>Details</h2>

<fieldset>
    <legend>Credentials</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Major.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Major.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CredentialsType.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CredentialsType.Type)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CredentialsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
