@model BTS630a04.Models.Major

@{
    ViewBag.Title = "Details";
}
<span class="usecase">UC 03</span>
<h2>Details</h2>

<fieldset>
    <legend>Major</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MajorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
