@model BTS630a04.Models.Professor

@{
    ViewBag.Title = "Edit";
}
<span class="usecase">UC 01, UC 05, UC 06</span>
<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Professor</legend>

        @Html.HiddenFor(model => model.ProfessorID)

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WorkStatusID, "WorkStatus")
        </div>
        <div class="editor-field">
            @Html.DropDownList("WorkStatusID", String.Empty)
            @Html.ValidationMessageFor(model => model.WorkStatusID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TermStatusID, "TermStatus")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TermStatusID", String.Empty)
            @Html.ValidationMessageFor(model => model.TermStatusID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LocationID, "Location")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LocationID", String.Empty)
            @Html.ValidationMessageFor(model => model.LocationID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DesignationID, "Designation")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DesignationID", String.Empty)
            @Html.ValidationMessageFor(model => model.DesignationID)
        </div>

        <p>
            <input type="submit" style="height: 25px; width: 100px" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
