@model BTS630a04.Models.Professorlocation

@{
    ViewBag.Title = "View Details On An Association Between A Professor And A Location";
}

<h2>Details</h2>

<fieldset>
    <legend>Professorlocation</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Professor.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Professor.FirstName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProfessorlocationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
