@model BTS630a04.Models.Semester

@{
    ViewBag.Title = "View Details On A Semester";
}
<span class="usecase">UC 04, UC 06</span>
<h2>Details</h2>

<fieldset>
    <legend>Semester</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Program.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Program.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Year)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SemesterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
