@model IEnumerable<BTS630a04.Models.Professorcredentials>

@{
    ViewBag.Title = "Designation and Credential Based Report";
}


<h2>Designation and Credential Based Report</h2>


<table class="filterable">
   <tr>
        <th>
            @Html.DisplayNameFor(model => model.Professor.FirstName)
        </th>
       <th>
            @Html.DisplayNameFor(model => model.Professor.LastName)
        </th>
       <th>
            @Html.DisplayNameFor(model => model.Professor.Designation.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credentials.Name)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Professor.FirstName)
         </td>
        <td>
            @Html.DisplayFor(modelItem => item.Professor.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Professor.Designation.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credentials.Name)
        </td>
        
    </tr>
}

</table>

@section Scripts {
    
     
    @Scripts.Render("~/assets/js/filterTable.js")

}