@{
    ViewBag.Title = "Index";
}

<h2>Professor Reports</h2>

<p>
    @Html.ActionLink("Term Status Report", "TermStatus")
</p>
<p>
    @Html.ActionLink("Work Status Report", "WorkStatus")
</p>
<p>
    @Html.ActionLink("Credential Based Report", "CredentialBased")
</p>
<p>
    @Html.ActionLink("Designation Based Report", "DesignationBased")
</p>
<p>
    @Html.ActionLink("Designation and Credentials Report", "DesignationCredentialBased")
</p>

<h2>Who Taught What Reports</h2>

<p>
    @Html.ActionLink("Course Report", "CourseReport")
</p>